<!doctype html>
<html>
  <head>
      <title>Automatske meteorološke stanice</title>      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="style.css">
  </head>
<body ng-app="weatherApp">
    <div ng-controller="StationController">
        <div class="articles container">
            <div class="article" ng-repeat="stanica in ::stanice">
                <div class="ng-class:{'current' : toggle}; item row">
                    <div class="col-xs-1">
                        <span class="ng-class:{'glyphicon-chevron-down' : !toggle,'glyphicon-chevron-up' : toggle }; glyphicon" ng-click="toggle = !toggle" style="cursor: pointer;"></span>
                    </div>
                    <div class="col-xs-3">
                        <p class="source"><strong>{{ stanica.station.name }}</strong></p>
                    </div>
                    <div class="col-xs-3">
                        <p> Geografska dužina: {{ stanica.station.coord.lon }}</p>
                    </div>
                    <div class="col-xs-3">
                        <p> Geografka širina: {{ stanica.station.coord.lat }}</p>
                    </div>
                    <div class="col-xs-2">
                        <p class="pubdate">{{stanica.last.dt *1000 | date:'HH:mm'}} h</p>
                    </div>
                </div>                
                <div class="row" ng-show="toggle">
                    <div class="col-xs-3">
                        &nbsp;

                    </div>
                    <div class="col-xs-4">
                        <table class="table">
                            <tr>
                                <td>Temperatura</td>
                                <td class="text-center">{{stanica.last.main.temp - 273.15 | number:1}} &deg;C</td>
                            </tr>
                            <tr>
                                <td>Pritisak</td>
                                <td class="text-center">{{stanica.last.main.pressure}} hpa</td>
                            </tr>
                            <tr>
                                <td>Vlažnost</td>
                                <td class="text-center">{{stanica.last.main.humidity}} %</td>
                            </tr>
                            <tr>
                                <td>Brzina vetra</td>
                                <td class="text-center">{{stanica.last.wind.speed}} m/s</td>
                            </tr>
                            <tr>
                                <td>Pravac vetra</td>
                                <td class="text-center">{{stanica.last.wind.deg}}&deg; ({{ pravacStr(stanica.last.wind.deg)}})</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-5">&nbsp;</div>
                </div>
            </div>

        </div>
    </div>
    <div class="jumbotron text-center"><h1>Volim te mila!</h1></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
        <script>
            (function () {


                var WeatherApp = angular.module("weatherApp", []);

                var StationController = function ($scope, weatherService) {

                    $scope.toggle = false;

                    $scope.pravacStr = function (pravac) {
                        var pravacVet = "";
                        if (pravac > 22.5 && pravac <= 67.5)
                            pravacVet = "Severoistočni";
                        else if (pravac > 67.5 && pravac <= 112.5)
                            pravacVet = "Istočni";
                        else if (pravac > 112.5 && pravac <= 157.5)
                            pravacVet = "Jugoistočni";
                        else if (pravac > 157.5 && pravac <= 202.5)
                            pravacVet = "Južni";
                        else if (pravac > 202.5 && pravac <= 247.5)
                            pravacVet = "Jugozapadni";
                        else if (pravac > 247.5 && pravac <= 292.5)
                            pravacVet = "Zapadni";
                        else if (pravac > 292.5 && pravac <= 337.5)
                            pravacVet = "Severozapadni";
                        else if (pravac > 337.5)
                            pravacVet = "Severni";
                        else if (pravac <= 22.5)
                            pravacVet = "Severni";
                        else
                            pravacVet = "";

                        return pravacVet;

                    }

                    weatherService.vratiPrognozu().then(function (data) {
                        $scope.stanice = data;
                      
                    }, function () { alert('error'); });
                };

                WeatherApp.controller("StationController", StationController);

                var weatherService = function ($http) {

                    var vratiPrognozu = function () {
                        return $http.get('http://api.openweathermap.org/data/2.5/station/find?lat=44.39&lon=20.26&cnt=6').
                              then(function (response) {
                                  return response.data;
                              });
                    };

                    return {
                        vratiPrognozu: vratiPrognozu
                    };
                };
                WeatherApp.factory('weatherService', weatherService);


            })();


        </script>

</body>
</html>